@import url(https://fonts.googleapis.com/css?family=Lato:regular,700);

:root {
    --primaryColour: red;
    --mainWhite: white;
    --mainBlack: black;
    --mainGray: #ececec;
    --mainTransition: all 0.3s ease;
    --maxWidth: 1400px;
    --btnBg: #fecb24;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    border: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    color: var(--mainBlack);
    background-color: var(--mainWhite);
    font-family: Lato;
    width: var(--maxWidth);
    margin: 0 auto;
}
img {
    max-width: 100%;
    max-height: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.wrapper {
    margin: 0 auto;
    padding: 0px 10px;
}
.container {
    max-width: 1176px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #1a1a1a;
    background-color: var(--btnBg);
}
.rub::after {
    content: '₽';
    display: inline-block;
    padding-left: 2px;
}
.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price__column {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.price_old {
    color: #a3a3a3;
    font-size: calc(7px + 3 * (100vw / 1176));
    line-height: 130%;
}
.price_current {
    color: #1a1a1a;
    font-size: calc(12px + 12 * (100vw / 1176));
    line-height: 130%;
    font-weight: 700;
}
/* header */
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.8s ease;
}
.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 15px;
}
.header__column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    display: inline-block;
    width: 200px;
    font-size: 0;
}
.header__delivery {
    margin-left: 60px;
    max-width: 180px;
}
.header__delivery p {
    font-size: calc(9px + 10 * (100vw / 1176));
    line-height: 120%;
}
.header__delivery_mobile {
    display: none;
}
.header__info {
    display: flex;
    align-items: center;
}
.info-header__item {
    padding: 10px 15px;
}
.info-header__link {
    display: flex;
    align-items: center;
}
.info-header__link img {
    width: 24px;
}
.info-header__link span {
    font-size: calc(8px + 8 * (100vw / 1176));
    line-height: 130%;
    white-space: nowrap;
}

/* navbar */
.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: transparent;
}
.navbar-center {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
}
.nav-icon {
    font-size: 1.5rem;
}
.trolley-btn {
    position: relative;
    cursor: pointer;
}
.trolley-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--primaryColour);
    padding: 0 5px;
    border-radius: 20%;
    color: var(--mainWhite);
}
.fa-splotch {
    font-size: 48px;
    color: var(--primaryColour);
}
/* header */
.hero {
    min-height: calc(100vh - 60px);
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
    text-align: center;
    display: inline-block;
    padding: 2rem;
}
.banner-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: var(--primaryColour);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColour);
    border-radius: 10px;
    transition: var(--mainTransition);
    cursor: pointer;
}
.banner-btn:hover {
    background-color: transparent;
    color: var(--primaryColour);
}
/* products */
.products {
    padding: 4rem 0;
    /* text-align: center; */
}
.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
}
.products-center {
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    -ms-grid-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}
.products-center__item {
    display: flex;
    flex: 0 1 25%;
    padding: 0 22px;
    border: 1px solid gray;
    border-radius: 7px;
}
.product {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.product__img {
    height: auto;
    margin: 0 auto;
    padding: 5px 0;
    flex: 1 1 auto;
}
.product__img img {
    max-height: 200px;
}
.product__content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 10px 20px 10px;
}
.product__title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 8px;
    min-height: 36px;
    max-height: 100px;
    max-width: 210px;
    overflow: hidden;
}
.product__title h3 {
    display: block;
    font-size: calc(12px + 12 * (100vw / 1176));
    line-height: 130%;
}
.product__text {
    flex: 1 1 auto;
    color: #a3a3a3;
    font-size: calc(9px + 7 * (100vw / 1176));
    line-height: 130%;
}
.product__price {
    margin-top: 15px;
}
.btn_buy {
    position: absolute;
    bottom: 6%;
    right: 0;
    border: none;
    border-radius: 7px;
    text-transform: capitalize;
    padding: 5px 10px;
    transition: var(--mainTransition);
    transform: translateX(0%);
    cursor: pointer;
}
.bag-btn:hover {
    color: var(--mainWhite);
}
.fa-shopping-cart {
    margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
    transform: translateX(0);
}
.img-container:hover .product-img {
    opacity: 0.5;
}
.product h4 {
    margin-top: 0.7rem;
    color: var(--primaryColour);
    text-align: center;
}
/* trolley */
.trolley-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(175, 184, 101, 0.603);
    transition: var(--mainTransition);
    z-index: 2;
    visibility: hidden;
}
.trolley {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgb(228, 255, 230);
    z-index: 3;
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}
.trolley h2 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
}
.showTrolley {
    transform: translateX(0);
}
.transparentBg {
    visibility: visible;
}
@media screen and (min-width: 768px) {
    .trolley {
        width: 30vw;
        min-width: 450px;
    }
}
.close-trolley {
    font-size: 2rem;
    cursor: pointer;
}
/* trolley-item */
.trolley-item {
    display: grid;
    display: -ms-grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    -ms-grid-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.trolley-item img {
    height: 100px;
    width: 100px;
}
.trolley-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
}
.trolley-item h5 {
    margin: 0.5rem 0;
}
.item-amount {
    text-align: center;
}
.remove-item {
    color: gray;
    cursor: pointer;
    text-transform: capitalize;
}
.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColour);
    cursor: pointer;
}
.trolley-footer {
    margin-top: 2rem;
    text-align: center;
}
.trolley-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}
