@import url(https://fonts.googleapis.com/css?family=Lato:regular,700);

:root {
    --primaryColour: red;
    --mainWhite: #fff;
    --mainBlack: black;
    --mainGray: #ececec;
    --mainTransition: all 0.3s ease;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--mainBlack);
    background-color: var(--mainWhite);
    font-family: Lato;
}

/* navbar */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}
.navbar-center {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
}
.nav-icon {
    font-size: 1.5rem;
}
.trolley-btn {
    position: relative;
    cursor: pointer;
}
.trolley-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--primaryColour);
    padding: 0 5px;
    border-radius: 20%;
    color: var(--mainWhite);
}
.fa-splotch {
    font-size: 48px;
    color: yellowgreen;
}
